@font-face {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format (woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format (woff2);
  font-display: swap
}

@font-face {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format (woff2);
  font-display: swap
}

@font-face {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik-800.woff2") format (woff2);
  font-display: swap
}

body {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background: #FFFFFF;
}

header {
  background: #FFE17F;
}

.searching {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px
}

.search-string {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  color: #000000;
}

.catalog-header-link {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-link-exit {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  opacity: 0.3;
}

.navigation-button {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}

.navigation-list .navigation-link {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.slider-main-number {
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
  align-items: center;
  text-align: right;
}

.slider-main-title {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.more {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: line-through;
  color: #000000;
  text-align: center;
}

.details-term {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.details-description {
  font-size: 16px;
}

.product-categories {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.purchase-terms {
  background: #F0F0F0;
}

.crossed-out {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: line-through;
  color: #000000;
  background-color: inherit;
  border: none;
  outline: none;
  text-align: center;
}

.crossed-out-term-current {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFE17F;
  text-decoration: none;
  border: none;
  outline: none;
  background: #000000;
  text-align: center;
}

.purchase-terms-title {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.advantage {
  background: #F0F0F0;
}

.advantage-text {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.about-title  {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-title {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-services-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
  text-decoration: none;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.subscription {
  background: #F0F0F0;
}

.subscription-title {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.email-form {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscribe {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.inner-header {
  background: #FFFFFF;
}

.inner-header-title{
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
}

.filters-list {
  background: #EBEBEB;
}

.filters {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  background: #DCDCDC;
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.color-label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.sorting {
  background: #EBEBEB;
}

.sorting-title {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  border: none;
  outline: none;
  background: #EBEBEB;
}

.product-card-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.show-more {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
  border: none;
  outline: none;
}

.pagination {
  background: #EBEBEB;
}

.pagination-prev {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.pagination-next {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
}

footer {
  background: #444444;
}

.address-text {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.navigation-footer-link {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.phone-number-link {
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

