@font-face {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background: #FFFFFF;
}

.header-main-page {
  background: #FFE17F;
  margin: 0 auto;
}

.header-catalog {
  background: #FFE17F;
  margin: 0 auto;
}

.logo-header {
  display: block;
  text-align: left;
  padding-left: 61px;
}

.navigation-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  width: 1160px;
}

.navigation-container-1 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 1075px;
}

.navigation-user {
  margin-left: auto;
}

.navigation-container-2 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 1075px;
}

.searching {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px
}

.search-string {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  color: #000000;
  border: none;
  outline: none;
  background-color: inherit;
}

.catalog-header-link {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-link-exit {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  opacity: 0.3;
}

.navigation-button {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}

.navigation-list .navigation-link {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.promo-number {
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: right;
}

.main-container {
  flex-grow: 1;
  }

.page-container {
  width: 1160px;
  margin: 0 auto;
  }

.slider-main {
  display: flex;
  justify-content: space-between;
  padding-left: 19px;
  width: 1160px;
}

.slider-img {
  display: flex;
  width: 560px;
}

.slider-description-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 560px;
  justify-content: space-between;
}

.slider-description {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.more-details {
  display: flex;
  width: 500px;
  justify-content: flex-end;
}

.slider-main-title {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.crossed {
  position: relative;
  z-index: 1;
}

.crossed::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.more {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  flex-grow: 1;
}

.details {
  display: flex;
  width: 320px;
}

.details-term {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.product-categories {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.product-categories-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.product-categories-link {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.purchase-terms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #F0F0F0;
  margin: 0 auto;
  padding: 0;
}

.purchase-list {
  width: 280px;
}

.purchase-description {
  width: 497px;
}

.crossed-out {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  background-color: inherit;
  border: none;
  outline: none;
  text-align: center;
  position: relative;
  z-index: 1;
}

.crossed-out::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.crossed-out-term-current {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFE17F;
  text-decoration: none;
  border: none;
  outline: none;
  background: #000000;
  text-align: center;
}

.purchase-terms-title {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.advantage {
  background: #F0F0F0;
  text-align: center;
}

.advantage-text {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-decoration: none;
}

.about-title  {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.about-box {
  width: 497px;
}

.contacts-box {
  width: 513px;
}

.contacts-title {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-services-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
  text-decoration: none;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.subscription {
  background: #F0F0F0;
}

.subscription-title {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.email-form {
  font-family: "Rubik", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
  background-color: inherit;
  border: none;
  outline: none;
}

.subscribe {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.inner-header {
  background: #FFFFFF;
}

.inner-header-title{
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
}

.catalog-products {
  display: flex;
}

.filters {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  background: #DCDCDC;
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.color-label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.sorting {
  background: #EBEBEB;
}

.sorting-title {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  border: none;
  outline: none;
  background: #EBEBEB;
}

.product-card-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.show-more {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
  border: none;
  outline: none;
}

.pagination-prev {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.pagination-next {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
}

footer {
  background: #444444;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  justify-content: space-between;
}

.address {
  width: 238px;
}

.address-text {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}

.navigation-footer-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  width: 458px;
  padding: 0px;
}

.footer-social-list {
  display: flex;
  margin: 0 auto;
  width: 150px;
  flex-direction: row;
  justify-content: center;
}

.navigation-footer-link {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.phone-number-link {
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}





